// Core variables and mixins
@import '../../scss/variables';
@import '../../scss/mixins';

// Core variables and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Utility classes
@import '~bootstrap/scss/utilities';
@import "~bootstrap/scss/navbar";

.nav-link{
  border-top: 1px solid $dark;
  transition: all 0.25s;
  &:hover{
    border-top: 1px solid $white;
    padding-top: 12px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
}
