@import '../../scss/variables';
@import '../../scss/mixins';

// Core variables and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import '~bootstrap/scss/utilities';


footer{
  background-color: $footer-bg;
  font-size: .85rem;
}
ul{
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
svg{
  fill: $white;
  margin: 0 10px;
  transition: all .25s;
  &:hover{
    fill: $primary;
  }
}
