<footer class="container-fluid p-5">
  <div class="row">
    <div class="col-md-2">
      <h4 class="mb-5">Menu</h4>
      <ul class="">
        <li><a href="/collections/all">Shop</a></li>
        <li><a href="/pages/our-story">Our Story</a></li>
        <li><a href="/pages/actives">Chemistry</a></li>
        <li><a href="/pages/contact">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4 class="mb-5">Information</h4>
      <ul class="">
        <li><a href="/account/">My Account</a></li>
        <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
        <li><a href="/pages/terms-of-service">Terms of Service</a></li>
        <li><a href="/pages/shipping-terms-faq">Shipping &amp; FAQ</a></li>
        <li><a href="/pages/refund-policy">Returns</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 class="mb-5">Social</h4>
      <div aria-label="Follow us on social media" class="mb-4">
        <a href="https://twitter.com/drroebucks" target="_blank" aria-label="Twitter">
          <span aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22; width: 22px; height: 22px;" xml:space="preserve">
              <path d="M22,4.2c-0.8,0.4-1.7,0.6-2.6,0.7c0.9-0.6,1.6-1.4,2-2.5c-0.9,0.5-1.8,0.9-2.9,1.1c-0.8-0.9-2-1.4-3.3-1.4
    c-2.5,0-4.5,2-4.5,4.5c0,0.4,0,0.7,0.1,1c-3.8-0.2-7.1-2-9.3-4.7C1.1,3.6,0.9,4.3,0.9,5.2c0,1.6,0.8,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6
    c0,0,0,0,0,0.1c0,2.2,1.6,4,3.6,4.4C4.1,12.9,3.7,13,3.3,13c-0.3,0-0.6,0-0.8-0.1C3,14.7,4.7,16,6.7,16C5.1,17.3,3.2,18,1.1,18
    c-0.4,0-0.7,0-1.1-0.1c2,1.3,4.4,2,6.9,2c8.3,0,12.8-6.9,12.8-12.8c0-0.2,0-0.4,0-0.6C20.6,5.9,21.4,5.1,22,4.2z">
              </path>
            </svg>
          </span>
        </a>
        <a href="https://www.facebook.com/DrRoebucks/" target="_blank" aria-label="Facebook">
          <span aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22; width: 22px; height: 22px;" xml:space="preserve">
              <path d="M19.3,2H2.8C2.3,2,2,2.3,2,2.7v16.5C2,19.7,2.3,20,2.8,20h8.8v-6.8H9.3v-2.8h2.3V8.2
    c0-2.3,1.5-3.5,3.5-3.5c1,0,1.8,0.1,2.1,0.1v2.4l-1.4,0c-1.1,0-1.4,0.5-1.4,1.3v1.9h2.8l-0.6,2.8h-2.3l0,6.8h4.8
    c0.4,0,0.8-0.3,0.8-0.8V2.7C20,2.3,19.7,2,19.3,2z">
              </path>
            </svg>
          </span>
        </a>
        <a href="https://www.pinterest.ca/drroebucks/" target="_blank" aria-label="Pinterest">
          <span aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22; width: 22px; height: 22px;" xml:space="preserve">
              <path d="M11,1C5.5,1,1,5.5,1,11c0,4.2,2.6,7.9,6.4,9.3c-0.1-0.8-0.2-2,0-2.9c0.2-0.8,1.2-5,1.2-5S8.3,11.9,8.3,11
    c0-1.4,0.8-2.4,1.8-2.4c0.9,0,1.3,0.6,1.3,1.4c0,0.9-0.5,2.1-0.8,3.3c-0.2,1,0.5,1.8,1.5,1.8c1.8,0,3.1-1.9,3.1-4.6
    c0-2.4-1.7-4.1-4.2-4.1c-2.8,0-4.5,2.1-4.5,4.3c0,0.9,0.3,1.8,0.7,2.3c0.1,0.1,0.1,0.2,0.1,0.3c-0.1,0.3-0.2,1-0.3,1.1
    c0,0.2-0.1,0.2-0.3,0.1c-1.2-0.6-2-2.4-2-3.9c0-3.2,2.3-6.1,6.6-6.1c3.5,0,6.2,2.5,6.2,5.8c0,3.4-2.2,6.2-5.2,6.2
    c-1,0-2-0.5-2.3-1.1c0,0-0.5,1.9-0.6,2.4c-0.2,0.9-0.8,2-1.2,2.6C9,20.8,10,21,11,21c5.5,0,10-4.5,10-10C21,5.5,16.5,1,11,1z">
              </path>
            </svg>
          </span>
        </a>
        <a href="https://www.instagram.com/drroebucks/" target="_blank" aria-label="Instagram">
          <span aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22; width: 22px; height: 22px;" xml:space="preserve">
              <path d="M17.9,2H4.1C3,2,2,3,2,4.1v13.7C2,19,3,20,4.1,20h13.7c1.2,0,2.1-1,2.1-2.1V4.1C20,3,19,2,17.9,2z M15.5,4.3h1.7c0.3,0,0.6,0.3,0.6,0.6v1.7c0,0.3-0.3,0.6-0.6,0.6h-1.7c-0.3,0-0.6-0.3-0.6-0.6V4.8C14.9,4.5,15.2,4.3,15.5,4.3z M11,7.6c1.9,0,3.5,1.5,3.5,3.5c0,1.9-1.5,3.5-3.5,3.5c-1.9,0-3.5-1.5-3.5-3.5C7.6,9.1,9.1,7.6,11,7.6zM17.8,18.3H4.3c-0.3,0-0.6-0.3-0.6-0.6V9.3h2.3C5.6,9.7,5.5,10.5,5.5,11c0,3,2.5,5.5,5.5,5.5c3,0,5.5-2.5,5.5-5.5c0-0.5-0.1-1.3-0.4-1.7h2.3v8.4C18.3,18.1,18.1,18.3,17.8,18.3z">
              </path>
            </svg>
          </span>
        </a>
      </div>
      <p class="">Naturally, we’re pretty social, with real mates and digital ones. So ‘gram, share, snap, and tweet with us.</p>
    </div>
    <div class="col-md-4">
      <h4 class="mb-5">Newsletter</h4>
      <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="mb-3">
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">
        <div class="">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email" value="" placeholder="Email Address" name="contact[email]" id="Email" aria-label="Email Address" autocorrect="off" autocapitalize="off">
          <input type="submit" name="commit" class="tn btn-primary" id="Subscribe" value="Sign up">
        </div>
      </form>
      <p class="">Let's be best mates. Sign up for our newsletter, never miss a thing.</p>
    </div>
  </div>
</footer>
