<section class="container">
  <div class="hero">
    <div class="content">
      <div class="greeting aos-init aos-animate" data-aos="fade-up">
        <h2>
          Work —<br>
          I have separated my work in different categories for easy access.
        </h2>
        <a class="cta" routerLink="/work" title="Select A Project">
          Select A Project
        </a>
      </div>
    </div>
  </div>
</section>
<div class="">
  <div class="row no-gutters work border border-dark">
    <div class="col-lg-4">
      <a class="vh-15 vh-lg-50 col-lg-12 bg-primary text-white border border-dark d-flex justify-content-center align-items-center" routerLink="/work/math">
        Math Based Experiments
      </a>
    </div>
    <div class="col-lg-8">
      <a routerLink="/work/date-time" class="bg-primary text-white col-lg-12 d-flex justify-content-center align-items-center border border-dark vh-15 vh-lg-25">
        Date/Time Based Experiments
      </a>
      <a routerLink="/work/source" class="bg-primary text-white float-left col-lg-6 vh-15 vh-lg-25 d-flex justify-content-center align-items-center border border-dark">
        Source
      </a>
      <a routerLink="/work/date-time" class=" bg-primary text-white float-left col-lg-6 vh-15 vh-lg-25 d-flex justify-content-center align-items-center border border-dark">
        Date/Time Based Experiments
      </a>
    </div>
    <div class="col-lg-8">
      <a routerLink="/work/date-time" class="bg-primary text-white col-lg-12 vh-15 vh-lg-25 d-flex justify-content-center align-items-center border border-dark">
        Date/Time Based Experiments
      </a>
      <a routerLink="/work/date-time" class="bg-primary text-white float-left col-lg-6 vh-15 vh-lg-25 d-flex justify-content-center align-items-center border border-dark">
        Date/Time Based Experiments
      </a>
      <a routerLink="/work/date-time" class=" bg-primary text-white float-left vh-15 vh-lg-25 col-lg-6 d-flex justify-content-center align-items-center border border-dark">
        Date/Time Based Experiments
      </a>
    </div>
    <div class="col-lg-4">
      <a class="vh-15 vh-lg-50 col-lg-12 bg-primary text-white border-right border border-dark d-flex justify-content-center align-items-center" routerLink="/work/math">
        Math Based Experiments
      </a>
    </div>
  </div>
</div>
