<div class="container mt-10 mb-10">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-dark">
        <h2 class="card-header">
          Contact
        </h2>
        <div class="card-body">
          <form
            >
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustomUsername">Email</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Please choose a valid email.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom03">Message</label>
                <textarea rows="5" class="form-control" id="validationCustom03" placeholder="Message" required></textarea>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 text-right">
          <h5>Say Hello</h5>
          <div>luis@lmseo.com</div>
          <div>213-321-0784</div>
        </div>
        <div class="col-md-6">
          Take a moment to share your brand's story, vision and its creative needs. We'll create something beautiful that drives results.
        </div>
      </div>
    </div>
  </div>
</div>
