<div class="container mt-6 mb-10">
  <div class="row">
    <div class="col-md-1">
      <h3 class="text-right">About:</h3>
    </div>
    <div class="col-md-6">
      <p>front-end web developer, writer, and creative person in Los Angeles, California. He focuses on HTML5, CSS3, NodeJS Angular and all that is JavaScript related :). He loves engaging in the creative process while sipping a cup of Chai tea. His curiosity is the driving force behind most of creations. Each piece is part of an exploration of light, color, and movement.
      </p>
    </div>
  </div>
</div>
