<div class="container">
  <div class="row">
    <div class="col-4 offset-4 mt-10 mb-10">
      <div class="card text-dark">
        <h5 class="card-header text-center">Join AngularMath</h5>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" [ngClass]="{'was-validated': signupForm.valid && (signupForm.dirty || signupForm.touched)}" novalidate>
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
                autocomplete="email"
                [ngClass]="{'is-valid': email.valid, 'input-alert-top':email.errors && (email.dirty || email.touched)}"
                placeholder="your@email.com"
              >
              <div *ngIf="((email.dirty || email.touched))">
                <div *ngIf="(email.invalid); else isValid" class="alert alert-danger alert-bottom-form text-small pb-3">
                  <div *ngIf="email.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="email.errors.email">
                    Email is not properly formatted.
                  </div>
                  <div *ngIf="email.errors.emailISForbidden">
                    The email address is not allowed.
                  </div>
                </div>
                <ng-template #isValid>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="text"
                class="form-control"
                type="password"
                id="password"
                formControlName="password"
                autocomplete="new-password"
                [ngClass]="{'is-valid': password.valid, 'input-alert-top':password.errors && (password.dirty || password.touched)}"
              >
              <div *ngIf="((password.dirty || password.touched))">
                <div *ngIf="(password.invalid); else isValid" class="alert alert-danger alert-bottom-form text-small pb-3">
                  <div *ngIf="password.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least {{password.errors.minlength.requiredLength}} characters long.
                    <hr [ngClass]="{'d-none': password.errors.minlength.last}">
                  </div>
                  <div *ngIf="password.errors.hasNumberError">
                    Password must contain a number.
                    <hr [ngClass]="{'d-none': password.errors.hasNumberError.last}">
                  </div>
                  <div *ngIf="password.errors.hasUpperCharError">
                    Password must contain an upper case letter.
                    <hr [ngClass]="{'d-none': password.errors.hasUpperCharError.last}">
                  </div>
                  <div *ngIf="password.errors.hasLowerCharError">
                    Password must contain a lower case letter.
                    <hr [ngClass]="{'d-none': password.errors.hasLowerCharError.last}">
                  </div>
                  <div *ngIf="password.errors.hasSpecCharError">
                    Password must contain a special character (e.g, !@#$%^&).
                  </div>
                </div>
                <ng-template #isValid>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="form-group">
              <label for="new-password">Verify password</label>
              <input
                type="text"
                class="form-control"
                id="new-password"
                type="password"
                formControlName="passwordVerify"
                autocomplete="new-password"
                [ngClass]="{'is-valid': passwordVerify.valid, 'input-alert-top':passwordVerify.errors && (passwordVerify.dirty || passwordVerify.touched)}"
              >
              <div *ngIf="((passwordVerify.dirty || passwordVerify.touched))">
                <div *ngIf="( passwordVerify.invalid); else isValid" class="alert alert-danger alert-bottom-form text-small pb-3">
                  <div *ngIf="passwordVerify.errors.required">
                    Password verification is required.
                  </div>
                  <div *ngIf="passwordVerify.errors.minlength">
                    Password must be at least {{passwordVerify.errors.minlength.requiredLength}} characters long.
                    <hr [ngClass]="{'d-none': passwordVerify.errors.minlength.last}">
                    {{passwordVerify.errors.minlength.last}}
                  </div>
                  <div *ngIf="passwordVerify.errors.passwordDontMatch">
                    Passwords don't match
                  </div>
                </div>
                <ng-template #isValid>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </ng-template>
              </div>
            </div>
            <button class="btn btn-primary" [disabled]="signupForm.invalid">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
