<div class="container mb-5">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark pl-0">
    <a class="navbar-brand" routerLink="/">LP.v1.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-nav ml-md-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/work">Work</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="authInfo?.isLoggedIn()">
          <a class="nav-link c-pointer" (click)="onLogout()">Sign out</a>
        </li>
        <ng-template [ngIf]="!authInfo?.isLoggedIn()">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <span class="text-white-50">or</span>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/join">Sign up</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</div>
