<section class="math p-0 m-0">
  <div class="container-fluid">
    <h2>Mathematics</h2>
  </div>
  <div class="row no-gutters mt-8">
    <div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div><div class="col-lg-2 col-md-4 col-sm-6 ">
      <a routerLink="/work/math/dice" class="d-flex bg-primary text-light justify-content-center align-items-center vh-25 border border-dark">dice</a>
    </div>

  </div>

</section>


