.invalid-feedback, .valid-feedback{
  display: block;
}
.alert-bottom-form{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.input-alert-top{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &:focus{
    border-bottom:none;
  }
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 2px rgba(255, 51, 102, 0.25) solid;
  outline: 0;
  box-shadow: none;
}
.form-control.is-valid:focus{
  border-color:#28a745;
}
