input.ng-touched.ng-invalid, input.ng-dirty.ng-invalid{
  //border:1px solid red;
}
.input-group-text{
  //padding: 0 0 0 15px;
  text-align: left;
  width: 100px;
}
.invalid-feedback, .valid-feedback{
  display: block;
}
.alert-bottom-form{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.input-alert-top{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
